.login, .password, .firstName, .lastName {
    font-family: 'Papyrus';
}

.login-popin {
    background: rgb(83, 78, 78);
    text-align: right;
    box-shadow: 5px 10px #888888;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 450px;
}

.login-popin .tabs {
    width: 100%;
    display: flex;
    margin: 0;
}

.login-popin .login-tab {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 10px;
    background: #1D1C1C;
}

.login-popin .login-tab.selected {
    border-bottom: 2px solid #ccc;
}

.login-popin .login-tab:hover {
    background: gray;
    cursor: pointer;
}

.login-popin .submit-btn {
    font-size: 18px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

.login-popin form {
    padding: 30px;
}

.login-popin input {
    font-size: 16px;
}

.login-popin .iconFlex {
    display:flex;
    align-items:center;
    border: dotted 1px red;
    padding: 5px
}

.login-popin .error-msg {
    color: red;
    margin:4px 0 4px 15px; 
    font-size: 15px;
    clear: left;
    text-align: left;
    vertical-align: middle;
    line-height:25px;
    } 

.login-popin .icon {
    color: red;
    font-size: 20px;
    margin-left: 15px;
    display:inline-block;
    vertical-align:top;
}

.loginFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mobile-photo {
    margin-right: 50px;
}

.loginFlexColumn {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-bottom: 30px;
    align-self: flex-start;
}