.regular-layout {
    text-align: center;
}

.regular-layout-body {
    background-color: #d9dde0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.regular-layout-body .regular-content {
    margin-top: 180px;
    flex: 1;
}

.regular-layout-body .regular-head {
    width: 100%;
    margin: 0;
    height: 180px;
    background: #1D1C1C;
    position: fixed;
    top: 0;
}

.regular-layout-body .flex {
    display: flex;
    flex-direction: row-reverse;
}

.regular-layout-body .regular-title {
    margin-top: 35px;
    margin-right: 700px;
    align-items: flex-start;
}

.regular-layout-body .flex .tabLogout{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 6px;
    background-color: #1D1C1C;
    border: none;
}

.regular-layout .regular-layout-body .footer {
    bottom: 0;
    width: 100%;
    height: 25px;
    margin-top: 20px;
    font-size: 14px;
    background: #1D1C1C;
}

.regular-layout-body .tabs {
    margin-top: 32px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
}

.regular-layout-body .tab {
    font-family: 'Papyrus';
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.regular-layout-body .tab:hover {
    background: rgb(159, 131, 78);
    cursor: pointer;
    color: white;
}

.regular-layout-body .tabs .account{
    align-self: flex-end;
    padding-bottom: 20px;
    margin-right: 30px;
    margin-left: auto;
    text-align: left;
    font-size: 18px;
    color: white;
}

.flexNameLogout {
    display: flex;
    flex-direction: row;
}

.user {
    margin-top: 34px;
    margin-bottom: 20px;
    font-size: 20px;
}